.single-service{
    border: 1px solid goldenrod;
    text-align: center;
}
.single-service img{
    width: 320px;
    
}
.single-service button{
    font-size: 25px;
    color: rgb(16, 17, 17);
    background-color: rgb(157, 243, 8);
    margin-bottom: 10px;
}
