.container-form{
    width: 50%;
    margin: 0 auto;
}
.container-form input:not([type=checkbox]){
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}